<div class=main_column>
  <h1 class="heading">OTHER TOOLS COMING SOON</h1>
  <h1 class="tool_link"><a href="<%= url_for(controller: '/mashup', action: 'show') %>">Click here for the Mashup tool</a></h1>
  <a class="btn_base btn_c" href="https://github.com/mcraigie/open_data_tools" target="_blank">View Source on Github</a>
</div>