/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "tether";

html {
	height: 100%;
}

body {
	background: #F4F4F2;
	height: 100%;
}

.band {
	height: 20%;
	padding-top: 30px;
}

.main_heading {
	color: 131515;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.0325em;
	font-size: 60px;
	font-size: 6.5vh;
}

.dataset_row {
	height: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.dataset {
	height: 85%;

	flex-basis: 46%;
	padding-top: 55px;
	padding-left: 50px;
	padding-right: 50px;
	overflow: hidden;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dataset_a {
	background: #0080BF;
	margin-left: 20px;
}

.dataset_b {
	background: #CC1B54;
	margin-right: 20px;
}

.dataset h2 {
	max-height: 11vh;
	overflow: hidden;
}

.dataset h2 a {
	color: #F4F4F2;
	font-family: Montserrat, sans-serif;
	font-size: 35px;
	font-size: 5vh;
	font-weight: bold;
	letter-spacing: 0.0325em;
	text-decoration: none;
	text-transform: uppercase;
}

.dataset p {
	max-height: 10vh;
	margin-top: 1vh;
	color: #FDFFFC;
	font-family: Montserrat, sans-serif;
	margin-bottom: auto;
}

.dataset .btn {
	margin-top: auto;
	margin-bottom: 40px;
}

.button_column {
	flex-basis: 8%;

	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;

	padding-left: 30px;
	padding-right: 30px;
	height: 50%
}

.btn {
	margin-bottom: 20px;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
}