/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	background: #F4F4F2;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.heading {
	padding-top: 3vh;
	color: #292b2c;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.0325em;
	font-size: calc(2vw + 2vh + 2vmin);
	margin: 0px;
}

.btn_base {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 9px 18px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: calc(.7vw + .7vh);
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	margin-bottom: 1vh;
}

.btn_base:hover {
	color: white;
}