/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "tether";

html {
	height: 100%;
}
body {
	background: #F4F4F2;
	height: 100%;
}

.row_container {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.dataset {
	min-height: 50%;
	max-height: 70%;
	flex-basis: 40%;
	flex-grow: 1;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 20px;
}

.dataset_a {
	background: #0080BF;
}
.dataset_b {
	background: #CC1B54;
}

.dataset h1 a {
	text-decoration: none;
	color: #F4F4F2;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	letter-spacing: 0.0625em;
    text-transform: uppercase;
}

.dataset p {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #FDFFFC;
	font-family: Montserrat, sans-serif;
}

.button_column {
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-left: 30px;
	padding-right: 30px;
	height: 50%
}

.btn {
	margin-bottom: 20px;
	font-family: Montserrat, sans-serif;
}