.main_column {
	text-align: center;
}

.tool_link {
	padding-top: 3vh;
	color: #292b2c;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.0325em;
	font-size: calc(1vw + 1vh + 2vmin);
	margin: 0px;
	margin-bottom: 3vh;
}